{{/*SPDX-FileCopyrightText: 2026 Andrey Chernykh*/}}
{{/*SPDX-License-Identifier: MIT*/}}

{{- define "discriminated_union"}} {{/*gotype: github.com/andreychh/tgen/rendering/golang.DiscriminatedUnion*/}}
{{- $variants := .Variants | discriminated_variants}}
{{.Doc.AsString}}
type {{.Name.AsString}} struct {
{{- range $variants}}
    {{.Name.AsString}} *{{.Type.AsString}}
{{- end}}
}

func (u {{.Name.AsString}}) MarshalJSON() ([]byte, error) {
    var fields []string
{{- range $variants}}
    if u.{{.Name.AsString}} != nil {
        fields = append(fields, "{{.Name.AsString}}")
    }
{{- end}}
    if len(fields) == 0 {
        return nil, errors.New("{{.Name.AsString}}: no fields set (expected exactly one)")
    }
    if len(fields) > 1 {
        return nil, fmt.Errorf("{{.Name.AsString}}: multiple fields set (%s)", strings.Join(fields, ", "))
    }
{{- range $variants}}
    if u.{{.Name.AsString}} != nil {
        return json.Marshal(u.{{.Name.AsString}})
    }
{{- end}}
    return nil, errors.New("{{.Name.AsString}}: internal error")
}

func (u *{{.Name.AsString}}) UnmarshalJSON(data []byte) error {
    var disc struct {
        Key string `json:"{{.DiscriminatorKey.AsString}}"`
    }
    if err := json.Unmarshal(data, &disc); err != nil {
        return err
    }
    switch disc.Key {
{{- range $variants}}
    case "{{.Fields.Discriminator.Value.AsString}}":
        var v {{.Type.AsString}}
        if err := json.Unmarshal(data, &v); err != nil {
            return err
        }
        u.{{.Name.AsString}} = &v
{{- end}}
    default:
        return fmt.Errorf("unknown {{.Name.AsString}}: %q", disc.Key)
    }
    return nil
}

{{- range $variants}} {{/*gotype: github.com/andreychh/tgen/rendering/golang.DiscriminatedVariant*/}}

{{template "discriminated_variant" .}}
{{- end}}
{{- end -}}
