{{/*SPDX-FileCopyrightText: 2026 Andrey Chernykh*/}}
{{/*SPDX-License-Identifier: MIT*/}}

{{- define "discriminated_union"}} {{/*gotype: github.com/andreychh/tgen/rendering/golang.DiscriminatedUnion*/}}
{{.Doc.AsString}}
//sumtype:decl
type {{.Name.AsString}} interface{ sealed{{.Name.AsString}}() }

{{- range .Variants | discriminated_variants}} {{/*gotype: github.com/andreychh/tgen/rendering/golang.DiscriminatedVariant*/}}
func (v {{.Name.AsString}}) sealed{{$.Name.AsString}}() {}
{{- end}}

{{- if ne .Name.AsString "InlineQueryResult"}}
func unmarshal{{.Name.AsString}}(data []byte) ({{.Name.AsString}}, error) {
    var disc struct {
        Key string `json:"{{.DiscriminatorKey.AsString}}"`
    }
    if err := json.Unmarshal(data, &disc); err != nil {
        return nil, err
    }
    switch disc.Key {
    {{- range .Variants | discriminated_variants}} {{/*gotype: github.com/andreychh/tgen/rendering/golang.DiscriminatedVariant*/}}
    case "{{.DiscriminatorValue.AsString}}":
        var v {{.Name.AsString}}
        if err := json.Unmarshal(data, &v); err != nil {
          return nil, err
        }
        return v, nil
{{- end}}
    default:
      return nil, fmt.Errorf("unknown {{.Name.AsString}}: %q", disc.Key)
    }
}
{{- end}}

{{- end}}
