{{/*SPDX-FileCopyrightText: 2026 Andrey Chernykh*/}}
{{/*SPDX-License-Identifier: MIT*/}}

{{- define "method" -}} {{/*gotype: github.com/andreychh/tgen/rendering/golang.Method*/}}
{{.Doc.Value}}
type {{.Name.Value}}Request struct {
{{- range .Fields | fields }} {{/*gotype: github.com/andreychh/tgen/rendering/golang.Field*/}}
{{.Doc.Value}}
{{.Name.Value}} {{.Type.Value}} {{.Tag.Value}}
{{- end}}
}
{{- end -}}
