{{/*SPDX-FileCopyrightText: 2026 Andrey Chernykh*/}}
{{/*SPDX-License-Identifier: MIT*/}}

{{- define "methods"}} {{/*gotype: github.com/andreychh/tgen/rendering/golang.GenerationContext*/}}
{{- template "header" .}}

package api

import (
	"context"
	"fmt"
)

// Method identifies a Telegram Bot API method by its name.
type Method string

const (
{{- range .Spec.Methods | methods}} {{/*gotype: github.com/andreychh/tgen/rendering/golang.Method*/}}
	Method{{.Name.AsString}} Method = "{{.Name.AsString}}"
{{- end}}
)

{{- range .Spec.Methods | methods}} {{/*gotype: github.com/andreychh/tgen/rendering/golang.Method*/}}

{{- template "method" .}}
{{- end}}

{{- end}}
