{{/*SPDX-FileCopyrightText: 2026 Andrey Chernykh*/}}
{{/*SPDX-License-Identifier: MIT*/}}

{{define "objects"}} {{/*gotype: github.com/andreychh/tgen/rendering/golang.GenerationContext*/}}
{{template "header" .}}

package api

{{- range .Spec.Objects | objects}} {{/*gotype: github.com/andreychh/tgen/rendering/golang.Object*/}}

{{template "object" . }}
{{- end }}

{{- end }}
