{{/*SPDX-FileCopyrightText: 2026 Andrey Chernykh*/}}
{{/*SPDX-License-Identifier: MIT*/}}

{{- define "objects"}} {{/*gotype: github.com/andreychh/tgen/rendering/golang.GenerationContext*/}}
{{- template "header" .}}

package api

import "encoding/json"

{{- range .Spec.Objects | objects}} {{/*gotype: github.com/andreychh/tgen/rendering/golang.Object*/}}

{{- template "object" .}}
{{- end}}

{{- range .Spec.DiscriminatedObjects | discriminated_objects}} {{/*gotype: github.com/andreychh/tgen/rendering/golang.DiscriminatedObject*/}}

{{- template "discriminated_object" .}}
{{- end}}


// This object describes a message that was deleted or is otherwise inaccessible
// to the bot.
//
// See https://core.telegram.org/bots/api#inaccessiblemessage
type InaccessibleMessage struct {
	// Chat the message belonged to
	Chat Chat `json:"chat"`
	// Unique message identifier inside the chat
	MessageID int64 `json:"message_id"`
}

func (v InaccessibleMessage) MarshalJSON() ([]byte, error) {
	type Alias InaccessibleMessage
	return json.Marshal(struct {
		Key int64 `json:"date"`
		Alias
	}{0, Alias(v)})
}

{{- end}}
