{{/*SPDX-FileCopyrightText: 2026 Andrey Chernykh*/}}
{{/*SPDX-License-Identifier: MIT*/}}

{{- define "structured_union"}} {{/*gotype: github.com/andreychh/tgen/rendering/golang.StructuredUnion*/}}
{{- $variants := .Variants | structured_variants }}
{{.Doc.AsString}}
type {{.Name.AsString}} struct {
{{- range $variants}} {{/*gotype: github.com/andreychh/tgen/rendering/golang.StructuredVariant*/}}
    {{.Name.AsString}} *{{.Type.AsString}}
{{- end}}
}

func (u {{.Name.AsString}}) MarshalJSON() ([]byte, error) {
    var fields []string
{{- range $variants}} {{/*gotype: github.com/andreychh/tgen/rendering/golang.StructuredVariant*/}}
    if u.{{.Name.AsString}} != nil {
        fields = append(fields, "{{.Name.AsString}}")
    }
{{- end}}
    if len(fields) == 0 {
        return nil, errors.New("{{.Name.AsString}}: no fields set (expected exactly one)")
    }
    if len(fields) > 1 {
        return nil, fmt.Errorf("{{.Name.AsString}}: multiple fields set (%s)", strings.Join(fields, ", "))
    }
{{- range $variants}} {{/*gotype: github.com/andreychh/tgen/rendering/golang.StructuredVariant*/}}
    if u.{{.Name.AsString}} != nil {
        return json.Marshal(u.{{.Name.AsString}})
    }
{{- end}}
    return nil, errors.New("{{.Name.AsString}}: internal error")
}

func (u *{{.Name.AsString}}) UnmarshalJSON(data []byte) error {
    var decoder *json.Decoder
{{- range $variants}} {{/*gotype: github.com/andreychh/tgen/rendering/golang.StructuredVariant*/}}
    var value{{.Name.AsString}} {{.Type.AsString}}
    decoder = json.NewDecoder(bytes.NewReader(data))
    decoder.DisallowUnknownFields()
    if decoder.Decode(&value{{.Name.AsString}}) == nil {
        u.{{.Name.AsString}} = &value{{.Name.AsString}}
        return nil
    }
{{- end}}
    return fmt.Errorf("{{.Name.AsString}}: unexpected value %.50q", string(data))
}
{{- end -}}
