{{/*SPDX-FileCopyrightText: 2025-2026 Andrey Chernykh*/}}
{{/*SPDX-License-Identifier: MIT*/}}

{{- define "union"}} {{/*gotype: github.com/andreychh/tgen/parsing.Union*/}}
type {{.Name}} struct {
{{- range .Variants | variants}} {{/*gotype: github.com/andreychh/tgen/parsing.Variant*/}}
    {{.Name}} *{{.Name}}
{{- end}}
}

func (u {{.Name}}) MarshalJSON() ([]byte, error) {
var fields []string
{{- range .Variants | variants}} {{/*gotype: github.com/andreychh/tgen/parsing.Variant*/}}
    if u.{{.Name}} != nil {
    fields = append(fields, "{{.Name}}")
    }
{{- end}}
if len(fields) == 0 {
return nil, errors.New("{{.Name}}: no fields set (expected exactly one)")
}
if len(fields) > 1 {
return nil, fmt.Errorf("{{.Name}}: multiple fields set (%s)", strings.Join(fields, ", "))
}
{{- range .Variants | variants}} {{/*gotype: github.com/andreychh/tgen/parsing.Variant*/}}
    if u.{{.Name}} != nil {
    return json.Marshal(u.{{.Name}})
    }
{{- end}}
return nil, errors.New("{{.Name}}: internal error")
}

func (u *{{.Name}}) UnmarshalJSON(data []byte) error {
var decoder *json.Decoder
{{- range .Variants | variants}} {{/*gotype: github.com/andreychh/tgen/parsing.Variant*/}}
    var value{{.Name}} {{.Name}}
    decoder = json.NewDecoder(bytes.NewReader(data))
    decoder.DisallowUnknownFields()
    if decoder.Decode(&value{{.Name}}) == nil {
    u.{{.Name}} = &value{{.Name}}
    return nil
    }
{{- end}}
return fmt.Errorf("{{.Name}}: unexpected value %.50q", string(data))
}
{{- end -}}
