{{/*SPDX-FileCopyrightText: 2026 Andrey Chernykh*/}}
{{/*SPDX-License-Identifier: MIT*/}}

{{- define "unions"}} {{/*gotype: github.com/andreychh/tgen/rendering/golang.GenerationContext*/}}
{{- template "header" .}}

package api

import (
    "encoding/json"
    "fmt"
)

{{- range .Spec.DiscriminatedUnions | discriminated_unions}} {{/*gotype: github.com/andreychh/tgen/rendering/golang.DiscriminatedUnion*/}}

{{- template "discriminated_union" .}}
{{- end}}

// MaybeMessage ...
//
//sumtype:decl
type MaybeMessage interface{ sealedMaybeMessage() }

func (v Message) sealedMaybeMessage() {}
func (v True) sealedMaybeMessage()    {}

func unmarshalMaybeMessage(data []byte) (MaybeMessage, error) {
	{
		var v Message
		if json.Unmarshal(data, &v) == nil {
			return v, nil
		}
	}
	{
		var v True
		if json.Unmarshal(data, &v) == nil {
			return v, nil
		}
	}
	return nil, fmt.Errorf(
		"cannot unmarshal %q into any of the MaybeMessage variants",
		string(data),
	)
}

// ChatID ...
//
//sumtype:decl
type ChatID interface{ sealedChatID() }

func (v ID) sealedChatID()       {}
func (v Username) sealedChatID() {}

func unmarshalChatID(data []byte) (ChatID, error) {
	return nil,nil
}
// InputFile ...
//
//sumtype:decl
type InputFile interface{ sealedInputFile() }

func (v FileID) sealedInputFile() {}
func (v Upload) sealedInputFile() {}

func unmarshalInputFile(data []byte) (InputFile, error) {
	return nil,nil
}

// ReplyMarkup ...
//
//sumtype:decl
type ReplyMarkup interface{ sealedReplyMarkup() }

func (v InlineKeyboardMarkup) sealedReplyMarkup() {}
func (v ReplyKeyboardMarkup) sealedReplyMarkup()  {}
func (v ReplyKeyboardRemove) sealedReplyMarkup()  {}
func (v ForceReply) sealedReplyMarkup()           {}

func unmarshalReplyMarkup(data []byte) (ReplyMarkup, error) {
	return nil,nil
}

// InputMediaGroup ...
//
//sumtype:decl
type InputMediaGroup interface{ sealedInputMediaGroup() }

func (v InputMediaAudio) sealedInputMediaGroup()    {}
func (v InputMediaDocument) sealedInputMediaGroup() {}
func (v InputMediaPhoto) sealedInputMediaGroup()    {}
func (v InputMediaVideo) sealedInputMediaGroup()    {}

func unmarshalInputMediaGroup(data []byte) (InputMediaGroup, error) {
	return nil,nil
}

// InputMessageContent ...
//
//sumtype:decl
type InputMessageContent interface{ sealedInputMessageContent() }

func (v InputInvoiceMessageContent) sealedInputMessageContent()  {}
func (v InputVenueMessageContent) sealedInputMessageContent()    {}
func (v InputLocationMessageContent) sealedInputMessageContent() {}
func (v InputContactMessageContent) sealedInputMessageContent()  {}
func (v InputTextMessageContent) sealedInputMessageContent()     {}

func unmarshalInputMessageContent(data []byte) (InputMessageContent, error) {
	return nil,nil
}

type MaybeInaccessibleMessage interface{ sealedMaybeInaccessibleMessage() }

func (v Message) sealedMaybeInaccessibleMessage()             {}
func (v InaccessibleMessage) sealedMaybeInaccessibleMessage() {}

func unmarshalMaybeInaccessibleMessage(data []byte) (MaybeInaccessibleMessage, error) {
	var disc struct {
		Key int64 `json:"date"`
	}
	if err := json.Unmarshal(data, &disc); err != nil {
		return nil, fmt.Errorf("unmarshaling discriminator for MaybeInaccessibleMessage: %w", err)
	}
	switch disc.Key {
	case 0:
		var v InaccessibleMessage
		if err := json.Unmarshal(data, &v); err != nil {
			return nil, fmt.Errorf("unmarshaling InaccessibleMessage: %w", err)
		}
		return v, nil
	default:
		var v Message
		if err := json.Unmarshal(data, &v); err != nil {
			return nil, fmt.Errorf("unmarshaling Message: %w", err)
		}
		return v, nil
	}
}
{{- end}}
