{{/*SPDX-FileCopyrightText: 2026 Andrey Chernykh*/}}
{{/*SPDX-License-Identifier: MIT*/}}

{{- define "asyncio_init"}} {{/*gotype: github.com/andreychh/tgen/targets/python.GenerationContext*/}}
{{- template "header" .}}

from .client import Connection, FakeConnection, HTTPConnection, TelegramError
from .methods import *
{{- end}}
