{{/*SPDX-FileCopyrightText: 2026 Andrey Chernykh*/}}
{{/*SPDX-License-Identifier: MIT*/}}

{{- define "discriminated_union"}} {{/*gotype: github.com/andreychh/tgen/targets/python.DiscriminatedUnion*/}}
{{.Name.Value}} = Annotated[
    {{.Variants.Value}},
    Field(discriminator="{{.DiscriminatorKey.Value}}"),
]
{{- end}}