{{/*SPDX-FileCopyrightText: 2026 Andrey Chernykh*/}}
{{/*SPDX-License-Identifier: MIT*/}}

{{- define "discriminated_object"}} {{/*gotype: github.com/andreychh/tgen/targets/python.DiscriminatedObject*/}}
class {{.Name.Value}}(BaseModel):
    {{.Doc.Value}}
    model_config = ConfigDict(
        alias_generator=lambda s: s.removesuffix("_"),
        populate_by_name=True,
    )

    {{.Fields.Discriminator.Key.Value}}: Literal["{{.Fields.Discriminator.Value.Value}}"] = "{{.Fields.Discriminator.Value.Value}}"
{{- range .Fields.Free | fields}} {{/*gotype: github.com/andreychh/tgen/targets/python.Field*/}}
    {{.Name.Value}}: {{.Annotation.Value}}
    {{.Doc.Value}}
{{- end}}
{{- if .HasInputFile}}

    def form_json(self, payload: MultipartPayload) -> str:
        data = self.model_dump(
            mode="json",
            exclude={
{{- range .Fields.Free | fields}}
{{- if .IsInputFile}}
                "{{.Name.Value}}",
{{- end}}
{{- end}}
            },
            exclude_none=True,
            by_alias=True,
        )
{{- range .Fields.Free | fields}}
{{- if .IsInputFile}}
{{- if .Optional}}
        if self.{{.Name.Value}} is not None:
            data["{{.Key}}"] = self.{{.Name.Value}}.attach(payload)
{{- else}}
        data["{{.Key}}"] = self.{{.Name.Value}}.attach(payload)
{{- end}}
{{- end}}
{{- end}}
        return json.dumps(data)
{{- else}}

    def form_json(self, _: MultipartPayload) -> str:
        return self.model_dump_json(exclude_none=True, by_alias=True)
{{- end}}

    def write(self, payload: MultipartPayload, key: str) -> None:
        payload.text(key, self.form_json(payload))
{{- end}}
