{{/*SPDX-FileCopyrightText: 2026 Andrey Chernykh*/}}
{{/*SPDX-License-Identifier: MIT*/}}

{{- define "methods"}} {{/*gotype: github.com/andreychh/tgen/targets/python.GenerationContext*/}}
{{- template "header" .}}

from __future__ import annotations

from pydantic import BaseModel, TypeAdapter

from .client import (
    Connection,
    JSONPayload,
    MultipartPayload,
    StrPart,
    IntPart,
    FloatPart,
    BoolPart,
    ListPart,
)
from .method import Method
from .types import *

{{- range .Spec.Methods | methods}} {{/*gotype: github.com/andreychh/tgen/targets/python.Method*/}}

{{template "method" .}}
{{- end}}
{{- end}}
