{{/*SPDX-FileCopyrightText: 2026 Andrey Chernykh*/}}
{{/*SPDX-License-Identifier: MIT*/}}

{{- define "method_fields"}} {{/*gotype: github.com/andreychh/tgen/targets/python.Method*/}}
{{- range .Fields | fields}} {{/*gotype: github.com/andreychh/tgen/targets/python.Field*/}}
    {{.Name.Value}}: {{.Annotation.Value}}
    {{.Doc.Value}}
{{- end}}
{{- end}}

{{- define "method"}} {{/*gotype: github.com/andreychh/tgen/targets/python.Method*/}}
{{- $name := .Name.Value}}
{{- $ret := .ReturnType.Value}}
class {{$name}}Method(BaseModel):
    {{.Doc.Value}}
{{template "method_fields" .}}

    def call(self, conn: Connection) -> {{$ret}}:
        payload = MultipartPayload()
{{- range .Fields | fields}}
{{- if .Optional}}
        if self.{{.Name.Value}} is not None:
            {{.Part}}.write(payload, "{{.Key}}")
{{- else}}
        {{.Part}}.write(payload, "{{.Key}}")
{{- end}}
{{- end}}
        return conn.do(Method.{{$name}}, payload, TypeAdapter({{$ret}}))
{{- end}}
