{{/*SPDX-FileCopyrightText: 2026 Andrey Chernykh*/}}
{{/*SPDX-License-Identifier: MIT*/}}

{{- define "object"}} {{/*gotype: github.com/andreychh/tgen/targets/python.Object*/}}
class {{.Name.AsString}}(BaseModel):
    {{.Doc.AsString}}
    model_config = ConfigDict(
        alias_generator=lambda s: s.removesuffix("_"),
        populate_by_name=True,
    )
{{range .Fields | fields}} {{/*gotype: github.com/andreychh/tgen/targets/python.Field*/}}
    {{.Name.AsString}}: {{.Annotation.AsString}}
    {{.Doc.AsString}}
{{- end}}
{{- if .HasInputFile}}

    def form_json(self, payload: MultipartPayload) -> str:
        data = self.model_dump(
            mode="json",
            exclude={
{{- range .Fields | fields}}
{{- if .IsInputFile}}
                "{{.Name.AsString}}",
{{- end}}
{{- end}}
            },
            exclude_none=True,
            by_alias=True,
        )
{{- range .Fields | fields}}
{{- if .IsInputFile}}
{{- if .Optional}}
        if self.{{.Name.AsString}} is not None:
            data["{{.Key}}"] = self.{{.Name.AsString}}.attach(payload)
{{- else}}
        data["{{.Key}}"] = self.{{.Name.AsString}}.attach(payload)
{{- end}}
{{- end}}
{{- end}}
        return json.dumps(data)
{{- else}}

    def form_json(self, _: MultipartPayload) -> str:
        return self.model_dump_json(exclude_none=True, by_alias=True)
{{- end}}

    def write(self, payload: MultipartPayload, key: str) -> None:
        payload.text(key, self.form_json(payload))
{{- end}}
