{{/*SPDX-FileCopyrightText: 2026 Andrey Chernykh*/}}
{{/*SPDX-License-Identifier: MIT*/}}

{{- define "async_method"}} {{/*gotype: github.com/andreychh/tgen/rendering/python.Method*/}}
class {{.Name.AsString}}Method(BaseModel):
    {{.Doc.AsString}}
{{template "method_fields" .}}

    async def call(self, conn: Connection) -> {{.ReturnType.AsString}}:
        return await conn.do(Method.{{.Name.AsString}}, self, {{.ReturnType.AsString}})
{{- end}}
