{{/*SPDX-FileCopyrightText: 2026 Andrey Chernykh*/}}
{{/*SPDX-License-Identifier: MIT*/}}

{{- define "discriminated_object"}} {{/*gotype: github.com/andreychh/tgen/rendering/python.DiscriminatedObject*/}}
class {{.Name.AsString}}(BaseModel):
    {{.Doc.AsString}}
    model_config = ConfigDict(
        alias_generator=lambda s: s.removesuffix("_"),
        populate_by_name=True,
    )

    {{.Fields.Discriminator.Key.AsString}}: Literal["{{.Fields.Discriminator.Value.AsString}}"] = "{{.Fields.Discriminator.Value.AsString}}"
{{- range .Fields.Free | fields}} {{/*gotype: github.com/andreychh/tgen/rendering/python.Field*/}}
    {{.Name.AsString}}: {{.Annotation.AsString}}
    {{.Doc.AsString}}
{{- end}}
{{- end}}
