{{/*SPDX-FileCopyrightText: 2026 Andrey Chernykh*/}}
{{/*SPDX-License-Identifier: MIT*/}}

{{- define "fake"}} {{/*gotype: github.com/andreychh/tgen/rendering/python.GenerationContext*/}}
{{- template "header" .}}

from __future__ import annotations

from typing import Any

from pydantic import BaseModel, TypeAdapter

from .method import Method

type Response = Any | Exception


class FakeConnection:
    def __init__(self, responses: dict[Method, Response]) -> None:
        self._responses = responses

    def do(self, method: Method, request: BaseModel, response_type: Any) -> Any:
        if method not in self._responses:
            raise RuntimeError(f"FakeConnection: unexpected call to {method!r}")
        match self._responses[method]:
            case Exception() as e:
                raise e
            case value:
                data = TypeAdapter(type(value)).dump_python(value, mode="json")
                return TypeAdapter(response_type).validate_python(data)
{{- end}}
