{{/*SPDX-FileCopyrightText: 2026 Andrey Chernykh*/}}
{{/*SPDX-License-Identifier: MIT*/}}

{{- define "method_enum"}} {{/*gotype: github.com/andreychh/tgen/rendering/python.GenerationContext*/}}
{{- template "header" .}}

from enum import Enum


class Method(str, Enum):
{{- range .Spec.Methods | methods}} {{/*gotype: github.com/andreychh/tgen/rendering/python.Method*/}}
    {{.Name.AsString}} = "{{.Name.AsString}}"
{{- end}}
{{- end}}