{{/*SPDX-FileCopyrightText: 2026 Andrey Chernykh*/}}
{{/*SPDX-License-Identifier: MIT*/}}

{{define "objects"}} {{/*gotype: github.com/andreychh/tgen/rendering/golang.GenerationContext*/}}
{{- template "header" .}}

from __future__ import annotations

from io import IOBase
from typing import NewType, Literal

from pydantic import BaseModel, ConfigDict

{{- range .Spec.Objects | objects}} {{/*gotype: github.com/andreychh/tgen/rendering/python.Object*/}}

{{template "object" . }}
{{- end }}

{{- range .Spec.DiscriminatedObjects | discriminated_objects}} {{/*gotype: github.com/andreychh/tgen/rendering/python.DiscriminatedObject*/}}

{{template "discriminated_object" . }}
{{- end }}

class InaccessibleMessage(BaseModel):
    model_config = ConfigDict(
        extra="forbid",
        alias_generator=lambda s: s.removesuffix("_"),
        populate_by_name=True,
    )
    chat: Chat
    message_id: int
    date: Literal[0]


class Upload(BaseModel):
    model_config = ConfigDict(arbitrary_types_allowed=True)
    name: str
    reader: IOBase


FileID = NewType("FileID", str)
ID = NewType("ID", int)
Username = NewType("Username", str)

{{- end }}
