{{/*SPDX-FileCopyrightText: 2026 Andrey Chernykh*/}}
{{/*SPDX-License-Identifier: MIT*/}}

{{- define "unions"}} {{/*gotype: github.com/andreychh/tgen/rendering/python.GenerationContext*/}}
{{- template "header" .}}

from __future__ import annotations

from typing import Annotated

from pydantic import Field

from .objects import *

{{- range .Spec.DiscriminatedUnions | discriminated_unions}} {{/*gotype: github.com/andreychh/tgen/rendering/python.DiscriminatedUnion*/}}

{{template "discriminated_union" .}}
{{- end}}

ChatID = ID | Username

MaybeMessage = Message | Literal[True]

InputFile = FileID | Upload

ReplyMarkup = (
        InlineKeyboardMarkup
        | ReplyKeyboardMarkup
        | ReplyKeyboardRemove
        | ForceReply
)

InputMediaGroup = (
        InputMediaAudio
        | InputMediaDocument
        | InputMediaPhoto
        | InputMediaVideo
)

InputMessageContent = (
        InputTextMessageContent
        | InputLocationMessageContent
        | InputVenueMessageContent
        | InputContactMessageContent
        | InputInvoiceMessageContent
)

MaybeInaccessibleMessage = InaccessibleMessage | Message
{{- end}}