{{/*SPDX-FileCopyrightText: 2026 Andrey Chernykh*/}}
{{/*SPDX-License-Identifier: MIT*/}}

{{- define "discriminated_object"}} {{/*gotype: github.com/andreychh/tgen/targets/golang.DiscriminatedObject*/}}
{{.Doc}}
type {{.Name}} struct {
{{- range .Fields.Free | fields}} {{/*gotype: github.com/andreychh/tgen/targets/golang.Field*/}}
	{{.Doc}}
    {{.Name}} {{.Type.Value}} {{.Tag}}
{{- end}}
}

func (v {{.Name}}) MarshalJSON() ([]byte, error) {
    type Alias {{.Name}}
    return json.Marshal(struct {
        Key string `json:"{{.Fields.Discriminator.Key}}"`
        Alias
    }{{"{"}}{{.Fields.Discriminator.Value}}, Alias(v)})
}

{{- if .HasInputFile}}
func (o {{.Name}}) json(p *multipartPayload) ([]byte, error) {
    type Alias {{.Name}}
{{- range .Fields.Free | fields}}
{{- if .IsInputFile}}
{{- if .Optional}}
    var {{.Key}} *string
    if o.{{.Name}} != nil {
        ref, err := o.{{.Name}}.attach(p)
        if err != nil {
            return nil, err
        }
        {{.Key}} = &ref
    }
{{- else}}
    {{.Key}}, err := o.{{.Name}}.attach(p)
    if err != nil {
        return nil, err
    }
{{- end}}
{{- end}}
{{- end}}
    return json.Marshal(struct {
        Key string `json:"{{.Fields.Discriminator.Key}}"`
{{- range .Fields.Free | fields}}
{{- if .IsInputFile}}
{{- if .Optional}}
        {{.Name}} *string {{.Tag}}
{{- else}}
        {{.Name}} string {{.Tag}}
{{- end}}
{{- end}}
{{- end}}
        Alias
    }{
        Key: {{.Fields.Discriminator.Value}},
{{- range .Fields.Free | fields}}
{{- if .IsInputFile}}
        {{.Name}}: {{.Key}},
{{- end}}
{{- end}}
        Alias: Alias(o),
    })
}
{{- else}}

func (o {{.Name}}) json(_ *multipartPayload) ([]byte, error) {
    return json.Marshal(o)
}
{{- end}}

func (o {{.Name}}) write(p *multipartPayload, key string) error {
    data, err := o.json(p)
    if err != nil {
        return err
    }
    return p.text(key, string(data))
}

{{- template "unmarshal_object" .}}
{{- end}}
