{{/*SPDX-FileCopyrightText: 2026 Andrey Chernykh*/}}
{{/*SPDX-License-Identifier: MIT*/}}

{{- define "method_response_union"}} {{/*gotype: github.com/andreychh/tgen/targets/golang.Method*/}}
{{- $name := .Name.Value}}
{{- $ret := .ReturnType}}
	var resp json.RawMessage
	err := conn.Do(ctx, Method{{$name}}, payload, &resp)
	if err != nil {
		return {{$ret.Zero}}, fmt.Errorf("%s: %w", Method{{$name}}, err)
	}
	result, err := unmarshal{{$ret.Name}}(resp)
	if err != nil {
		return {{$ret.Zero}}, err
	}
	return result, nil
{{- end}}
