{{/*SPDX-FileCopyrightText: 2026 Andrey Chernykh*/}}
{{/*SPDX-License-Identifier: MIT*/}}

{{- define "method"}} {{/*gotype: github.com/andreychh/tgen/targets/golang.Method*/}}
{{- $name := .Name.AsString}}
{{- $ret := .ReturnType}}
{{- $isUnion := $ret.IsUnion}}
{{- $depth := $ret.Depth}}
{{.Doc.AsString}}
type {{$name}}Method struct {
{{- range .Fields | fields}} {{/*gotype: github.com/andreychh/tgen/targets/golang.Field*/}}
    {{.Doc.AsString}}
    {{.Name.AsString}} {{.Type.AsString}} {{.Tag.AsString}}
{{- end}}
}

func (m {{$name}}Method) Call(ctx context.Context, conn Connection) ({{$ret.AsString}}, error) {
{{- if and $isUnion (eq $depth 1)}}
	var resp []json.RawMessage
	if err := conn.Do(ctx, Method{{$name}}, m, &resp); err != nil {
		return {{.ReturnType.Zero}}, fmt.Errorf("%s: %w", Method{{$name}}, err)
	}
	result := make([]{{$ret.Name}}, len(resp))
	for i, r := range resp {
		u, err := unmarshal{{$ret.Name}}(r)
		if err != nil {
			return {{.ReturnType.Zero}}, err
		}
		result[i] = u
	}
	return result, nil
{{- else if $isUnion}}
	var resp json.RawMessage
	if err := conn.Do(ctx, Method{{$name}}, m, &resp); err != nil {
		return {{.ReturnType.Zero}}, fmt.Errorf("%s: %w", Method{{$name}}, err)
	}
	result, err := unmarshal{{$ret.Name}}(resp)
	if err != nil {
		return {{.ReturnType.Zero}}, err
	}
	return result, nil
{{- else}}
	var resp {{$ret.AsString}}
	if err := conn.Do(ctx, Method{{$name}}, m, &resp); err != nil {
		return {{.ReturnType.Zero}}, fmt.Errorf("%s: %w", Method{{$name}}, err)
	}
	return resp, nil
{{- end}}
}
{{- end}}
