{{/*SPDX-FileCopyrightText: 2026 Andrey Chernykh*/}}
{{/*SPDX-License-Identifier: MIT*/}}

{{- define "methods"}} {{/*gotype: github.com/andreychh/tgen/targets/golang.GenerationContext*/}}
{{- template "header" .}}

package {{.PackageName}}

import (
	"context"
	"encoding/json"
	"fmt"
)

// Method identifies a Telegram Bot API method by its name.
type Method string

const (
{{- range .Spec.Methods | methods}} {{/*gotype: github.com/andreychh/tgen/targets/golang.Method*/}}
	Method{{.Name}} Method = "{{.Name}}"
{{- end}}
)

{{- range .Spec.Methods | methods}} {{/*gotype: github.com/andreychh/tgen/targets/golang.Method*/}}

{{- template "method" .}}
{{- end}}
{{- end}}
