{{/*SPDX-FileCopyrightText: 2026 Andrey Chernykh*/}}
{{/*SPDX-License-Identifier: MIT*/}}

{{- define "method"}} {{/*gotype: github.com/andreychh/tgen/targets/golang.Method*/}}
{{- $name := .Name}}
{{- $ret := .ReturnType}}
{{- $shape := $ret.Shape}}
{{.Doc}}
type {{$name}}Method struct {
{{- range .Fields | fields}} {{/*gotype: github.com/andreychh/tgen/targets/golang.Field*/}}
{{.Doc}}
    {{.Name}} {{.Type.Value}} {{.Tag}}
{{- end}}
}

func (m {{$name}}Method) Call(ctx context.Context, conn Connection) ({{$ret.Value}}, error) {
	payload := NewMultipartPayload()
{{- range .Fields | fields}} {{/*gotype: github.com/andreychh/tgen/targets/golang.Field*/}}
{{- if .Optional}}
	if m.{{.Name}} != nil {
		if err := {{.Part}}.Write(payload, "{{.Key}}"); err != nil {
			return {{$ret.Zero}}, err
		}
	}
{{- else}}
	if err := {{.Part}}.Write(payload, "{{.Key}}"); err != nil {
		return {{$ret.Zero}}, err
	}
{{- end}}
{{- end}}
{{- if eq $shape "union_array"}}
{{- template "method_response_union_array" .}}
{{- else if eq $shape "union"}}
{{- template "method_response_union" .}}
{{- else}}
{{- template "method_response_plain" .}}
{{- end}}
}
{{- end}}
