{{/*SPDX-FileCopyrightText: 2026 Andrey Chernykh*/}}
{{/*SPDX-License-Identifier: MIT*/}}

{{- define "method"}} {{/*gotype: github.com/andreychh/tgen/targets/golang.Method*/}}
{{- $name := .Name.Value}}
{{- $ret := .ReturnType}}
{{- $isUnion := $ret.IsUnion}}
{{- $depth := $ret.Depth}}
{{.Doc.Value}}
type {{$name}}Method struct {
{{- range .Fields | fields}} {{/*gotype: github.com/andreychh/tgen/targets/golang.Field*/}}
    {{.Doc.Value}}
    {{.Name.Value}} {{.Type.Value}} {{.Tag.Value}}
{{- end}}
}

func (m {{$name}}Method) Call(ctx context.Context, conn Connection) ({{$ret.Value}}, error) {
	payload := NewMultipartPayload()
{{- range .Fields | fields}} {{/*gotype: github.com/andreychh/tgen/targets/golang.Field*/}}
{{- if .Optional}}
	if m.{{.Name.Value}} != nil {
		if err := {{.Part}}.Write(payload, "{{.Key}}"); err != nil {
			return {{$ret.Zero}}, err
		}
	}
{{- else}}
	if err := {{.Part}}.Write(payload, "{{.Key}}"); err != nil {
		return {{$ret.Zero}}, err
	}
{{- end}}
{{- end}}
{{- if and $isUnion (eq $depth 1)}}
	var resp []json.RawMessage
{{- else if $isUnion}}
	var resp json.RawMessage
{{- else}}
	var resp {{$ret.Value}}
{{- end}}
	err := conn.Do(ctx, Method{{$name}}, payload, &resp)
	if err != nil {
		return {{$ret.Zero}}, fmt.Errorf("%s: %w", Method{{$name}}, err)
	}
{{- if and $isUnion (eq $depth 1)}}
	result := make([]{{$ret.Name}}, len(resp))
	for i, r := range resp {
		u, err := unmarshal{{$ret.Name}}(r)
		if err != nil {
			return {{$ret.Zero}}, err
		}
		result[i] = u
	}
	return result, nil
{{- else if $isUnion}}
	result, err := unmarshal{{$ret.Name}}(resp)
	if err != nil {
		return {{$ret.Zero}}, err
	}
	return result, nil
{{- else}}
	return resp, nil
{{- end}}
}
{{- end}}
