{{/*SPDX-FileCopyrightText: 2026 Andrey Chernykh*/}}
{{/*SPDX-License-Identifier: MIT*/}}

{{- define "object"}} {{/*gotype: github.com/andreychh/tgen/targets/golang.Object*/}}
{{.Doc.AsString}}
type {{.Name.AsString}} struct {
{{- range .Fields | fields}} {{/*gotype: github.com/andreychh/tgen/targets/golang.Field*/}}
    {{.Doc.AsString}}
    {{.Name.AsString}} {{.Type.AsString}} {{.Tag.AsString}}
{{- end}}
}

{{- template "unmarshal_object" .}}

func (o {{.Name.AsString}}) FillForm(f Form, key string) error {
	data, err := json.Marshal(o)
	if err != nil {
		return err
	}
	return f.Fill(key, string(data))
}
{{- end}}