{{/*SPDX-FileCopyrightText: 2026 Andrey Chernykh*/}}
{{/*SPDX-License-Identifier: MIT*/}}

{{- define "object"}} {{/*gotype: github.com/andreychh/tgen/targets/golang.Object*/}}
{{.Doc}}
type {{.Name}} struct {
{{- range .Fields | fields}} {{/*gotype: github.com/andreychh/tgen/targets/golang.Field*/}}
	{{.Doc}}
    {{.Name}} {{.Type.Value}} {{.Tag}}
{{- end}}
}

{{- template "unmarshal_object" .}}

{{- if .HasInputFile}}
func (o {{.Name}}) JSON(p *MultipartPayload) ([]byte, error) {
	type Alias {{.Name}}
{{- range .Fields | fields}}
{{- if .IsInputFile}}
{{- if .Optional}}
	var {{.Key}} *string
	if o.{{.Name}} != nil {
		ref, err := o.{{.Name}}.Attach(p)
		if err != nil {
			return nil, err
		}
		{{.Key}} = &ref
	}
{{- else}}
	{{.Key}}, err := o.{{.Name}}.Attach(p)
	if err != nil {
		return nil, err
	}
{{- end}}
{{- end}}
{{- end}}
	return json.Marshal(struct {
{{- range .Fields | fields}}
{{- if .IsInputFile}}
{{- if .Optional}}
		{{.Name}} *string {{.Tag}}
{{- else}}
		{{.Name}} string {{.Tag}}
{{- end}}
{{- end}}
{{- end}}
		Alias
	}{
{{- range .Fields | fields}}
{{- if .IsInputFile}}
		{{.Name}}: {{.Key}},
{{- end}}
{{- end}}
		Alias: Alias(o),
	})
}
{{- else}}

func (o {{.Name}}) JSON(_ *MultipartPayload) ([]byte, error) {
	return json.Marshal(o)
}
{{- end}}

func (o {{.Name}}) Write(p *MultipartPayload, key string) error {
	data, err := o.JSON(p)
	if err != nil {
		return err
	}
	return p.Text(key, string(data))
}
{{- end}}