# SPDX-FileCopyrightText: 2026 Andrey Chernykh
# SPDX-License-Identifier: MIT
name: typos
'on':
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  typos:
    timeout-minutes: 15
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
      - uses: crate-ci/typos@57b11c6b7e54c402ccd9cda953f1072ec4f78e33  # v1.43.5
